.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
    padding-bottom: 40px;
}

.Card {
    flex: 1 1 45%;  
    max-width: 100%;  
    background-color: #E1DDF8;
    border: 1px solid #110A33;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    min-height: 300px;
}

@media (min-width: 768px) {
    .Card {
        flex: 1 1 22%;  
        max-width: 28%;
    }
}

    .product-cover {
        width: 9rem;
        height: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #110A33;
        box-sizing: border-box;
        margin: auto;
    }
    .product-cover img {
        width: 7rem;
        height: 11rem;
        object-fit: cover;
        border-radius: 8px;
        margin: auto; 
    }


.product-price {
    font-size: 0.8 rem;
}

.product-info {
    display: flex;
    flex-direction: column;  
    flex-grow: 1;  
    justify-content: flex-start;  
}

.product-title {
    font-size:  1rem;
    font-weight: bold;
    margin: 0;
    color: #555; 
    height: 4rem; 
    display: flex;
    align-items: flex-start;
}

.product-author {
    font-size:  0.rem;
    color: #555;
    margin: 8px 0;
    height: 3rem; 
    min-height: 20px;  
}

.product-cover {
    width: 8rem;  
    height: 12rem;
    display: flex; 
    border-color: #110A33;
}

.product-cover img {
    width: 7rem;  
    height: 11rem;
    object-position: center; 
    border-radius: 8px; 
    object-fit: cover;
}

.fav-icon {
    cursor: pointer;
    font-size: 24px;
    margin-top: 8px;
}

.synopsis-container {
    margin-top: 16px;
    flex-grow: 2;  
    font-size: 0.8 rem;
}

.toggle-button {
    cursor: pointer;
    background: none;
    border: none;
}

.add-to-cart-btn {
    background-color: #9EFFCB;
    color: #110A33;
    border-color: #110A33;
    border-radius: 10px;
    border-width: 1.5px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    width: 90%;
}


.card-actions {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 16px; 
}

.add-to-cart-btn, .fav-icon {
    margin: 0 8px; 
}
