.form-container {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    .form-box {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    padding: 20px;  
    .form-row {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        gap: 20px;
        .form-row.title input {
            font-size: 1.5rem;
            background-color: blue;
        }

    }  
}
}
