.btn-add-item {
    padding: 1rem;
    background-color: #8775e3;
    color: white;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    align-items:start;
    margin-top: 1rem;
}